<html>
    <body>
        <form action= "{{url_for('newMenuItem', restaurant_id = restaurant_id)}}" method = 'POST'>

        <p>Name:</p>
        <input type = 'text' size='30' name = 'name' placeholder = 'name of the item'>
        <input type = 'text' size='30' name = 'price' placeholder= 'price'>
        <input type = 'text' size='30' name = 'description' placeholder= 'description'>
        <input type = 'text' size='30' name = 'course' placeholder= 'course'>
        <input type='submit' value='add'>
        </form>
        <a href= "{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}">Cancel</a>
    </body>
</html>